[submodule "bundle/vim-fugitive"]
	branch = master
    path = bundle/vim-fugitive
    url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-airline"]
	branch = master
    path = bundle/vim-airline
    url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/vim-gitgutter"]
	branch = master
    path = bundle/vim-gitgutter
    url = git@github.com:airblade/vim-gitgutter.git
[submodule "bundle/Vundle.vim"]
	branch = master
    path = bundle/Vundle.vim
    url = git@github.com:VundleVim/Vundle.vim.git